#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Segoe UI Variable Text", "Segoe UI Variable", "Segoe UI",
    "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", system-ui, sans-serif;
}

.aiml-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-section {
  background-color: field;
  cursor: text;
}
.input-section,
.output-section {
  flex: 1;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid lightblue;
}

textarea:focus {
  outline: none;
}

.input-footer {
  display: flex;
  justify-content: space-between;
}

textarea {
  font: inherit;
  width: 100%;
  border: none;
}
textarea:disabled {
  background-color: inherit;
}
button:disabled {
  cursor: in;
}
label {
  color: var(--dark-fill-color);
}
